[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
chromedriver-autoinstaller = "*"
openpyxl = "*"
selenium = "*"
webdriver-manager = "*"
urllib3 = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
